body {
    background-color: rgb(68, 68, 68)
}

p {
    color: white;
}

.parent {
    display: grid;
    grid-template-columns: minmax(150px, 25%) 1fr;
  }
  
.sidebar { 
    display: grid;
    background-color: rgb(91, 89, 89);
    grid-template-columns: minmax(150px, 25%) 1fr;
}

nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}

body, html {
    height: 100%;
  }
  
  .bg {
    /* The image used */
    background-image: url("images/home-bg.jpg");
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.title-block {
    position: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 200px;
}

.caption {
    position: center;
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 40px;
    color:black
}

.buttons {
    position: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.title-block-2 {
    position: center;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 200px;
}

.search {
    position: center;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    margin: 0;
}

.themed-grid-col {
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(124, 122, 126, 0.15);
    border: 1px solid rgba(86, 61, 124, .2);
    color: white;
}
  
.themed-container {
    padding: 15px;
    margin-bottom: 30px;
    background-color: rgba(0, 123, 255, .15);
    border: 1px solid rgba(0, 123, 255, .2);
}

.data-1 {
    position: center;
    position: absolute;
    top: 25%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 70px;
    color:black
}

.data-1-caption {
    position: center;
    position: absolute;
    top: 30%;
    left: 45%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    color:black
}